* {
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

p {
    padding: 20px 0;
}

.wrapper {
    max-width: 1440px;
    width: 100%;
    overflow: hidden;
}

/*header section*/
.header-logo-name {
    font-family: 'Dancing Script', cursive;
    font-size: 30px;
}

.header-container {
    display: flex;
    justify-content: space-between;
    background-color: #0D0E10;
    color: white;
    align-items: center;
    padding: 10px 100px;
}

.header-menu {
    display: flex;
    justify-content: space-evenly;
    gap: 40px;
    text-transform: uppercase;
    font-size: 15px;
}

.header-menu-link:hover {
    color: #FFBE33;

}

.header-menu:first-child {
    color: #FFBE33;
}

.header-nav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 15px;
}

.btn {
    cursor: pointer;
    text-transform: capitalize;
    font-weight: 500;
    color: white;
    background-color: #FFBE33;
    padding: 10px 40px;
    border-radius: 50px;
    border: 1px solid #FFBE33;
    transition: all 0.3s linear;
    font-size: 100%;

}

/*hero section*/
.hero-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 60px 100px;
    background-color: black;
    color: white;
    width: 100%;
}

.hero-image {
    display: contents;
}

.hero-content {
    width: 500px;
}

.hero-slide {
    font-size: smaller;
    display: flex;
    gap: 5px;
    align-items: center;
}

.hero-slide-link:last-child {
    font-size: large;
}

.hero-title, .about-title {
    font-family: 'Dancing Script', cursive;
    font-size: 40px;
}

/*about section*/
.about-container {
    background-color: #222831;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 70px 140px;
    color: white;
}

.about-content {
    padding: 100px;
}

.about-img {
    width: 350px;
    height: 500px;
}
/*end*/